.tableCell{
    margin: -1;
}

.headerCell {
    font-style: bold;
}

#mainContainer {
    -maui-spacing: 10;
}

#luckyNumberBox, #drawStudentBox {
    -maui-spacing: 5;
}

#luckyNumberBox > label, #drawStudentBox > label{
    font-size: 20;
}

#luckyNumberBox, #drawStudentBox {
    -maui-orientation: horizontal;
}
